{% extends "base.html.twig" %}

{% block body %}
    <h1>Modifier Votre Compte</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.FirstName) }}
    {{ form_row(form.LastName) }}
    {{ form_row(form.imgProfil) }}
    <button type="submit">Envoyer</button>
    {{ form_row(form._token) }}
    {{ form_end(form, {render_rest:false})}}
{% endblock %}
